@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Cirino Berghann, 85<br />
    25 de Julho, Campo Bom 93700-000<br />
    RS, Brasil<br />
    Telefone: (51) 999.265.378<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:elintonev@hotmail.com">elintonev@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:huiniforte2@hotmail.com">huiniforte2@hotmail.com</a>
</address>
